name: "Validations"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # run once per week so we always have an artifact for testing and get notified of new versions causing issues
    - cron: 0 0 * * 0

jobs:
  Static-Analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - uses: ./.github/actions/bootstrap

      - run: make static-analysis

  All-Tests:
    runs-on: ubuntu-latest
    needs: Tests
    steps:
      - run: echo All tests passed!

  Tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest # 24.04
#          - windows-2025
          - windows-latest # 2022
#          - macos-15
          - macos-latest # 14
        go-version:
#          - stable # use latest stable version
          - '' # version from go.mod

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - uses: ./.github/actions/bootstrap
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: go.sum

      - run: make test
